.vam_text_max3p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.vambutton {
  background-color: #2979ff;
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
}